name: ci

on:
  push:
    paths:
      - "**.cmake"
      - "**/CMakeLists.txt"
      - "**.c"
      - ".github/workflows/ci.yml"
  workflow_dispatch:

# avoid wasted runs
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  CTEST_PARALLEL_LEVEL: 0
  CTEST_NO_TESTS_ACTION: error
  CMAKE_GENERATOR: Ninja


jobs:

  linux-new:
    runs-on: ubuntu-latest
    timeout-minutes: 5

    strategy:
      matrix:
        cc: [gcc-12, gcc-13, gcc-14, clang-18]

    env:
      CC: ${{ matrix.cc }}

    steps:
    - &checkout
      uses: actions/checkout@v6

    - &workflow
      run: cmake --workflow default


  linux-old:
    runs-on: ubuntu-22.04
    timeout-minutes: 5

    strategy:
      matrix:
        gcc-version: [9, 10, 11]

    env:
      CC: gcc-${{ matrix.gcc-version }}

    steps:
    - *checkout

    - name: GCC APT
      if: matrix.gcc-version < 11
      run: |
        sudo apt update -y
        sudo apt install -y --no-install-recommends gcc-${{ matrix.gcc-version }}

    - *workflow


  mac:
    runs-on: macos-latest
    timeout-minutes: 5

    strategy:
      matrix:
        cc: [clang, gcc-15]

    env:
      CC: ${{ matrix.cc }}

    steps:
    # - name: Latest Xcode needed for GCC
    #   if: startsWith(matrix.cc, 'gcc')
    #   run: sudo xcode-select --switch /Library/Developer/CommandLineTools
# This comes into play when GA is pinned to an old Xcode b/c Homebrew builds against latest
# Every say year or two this becomes an issue.
# https://github.com/Homebrew/homebrew-core/issues/228131

    - *checkout

    - *workflow


  windows-msys:
    runs-on: windows-latest
    timeout-minutes: 10

    strategy:
      matrix:
        cc: [clang, gcc]

    env:
      CC: ${{ matrix.cc }}

    steps:
    - uses: msys2/setup-msys2@v2
      id: msys2
      with:
        update: true
        install: >-
          mingw-w64-ucrt-x86_64-${{ matrix.cc }}

    - name: Put MSYS2_MinGW64 on PATH
      run: echo "${{ steps.msys2.outputs.msys2-location }}/ucrt64/bin" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append

    - *checkout

    - *workflow


  windows-msvc:
    runs-on: windows-latest
    timeout-minutes: 10

    steps:
    - *checkout

    - run: cmake --workflow debug
      env:
        CMAKE_GENERATOR: Visual Studio 17 2022
